extends layout

mixin url (entry)
  a(href='') #{entry.endpoint}{apiKey}

mixin example (entry)
  .ui.compact.message.example curl -X #{entry.method} #{server}#{entry.endpoint}{apiKey}#{entry.getParams} #{entry.example}

mixin params (option)
  unless option.type === 'user'
    .ui.two.column.grid
      .four.wide.column
        .ui.label.param(class=option.required ? 'required': '') #{option.name}
      .twelve.wide.column #{option.description}
        if option.default
          .default= __('Default:')
            span.value &nbsp;"#{option.default}"

block content
  if apiKey
    .ui.compact.info.centered.message.apiKey
      .header
        span= __('Your API key')
      p#apiKey #{apiKey}
      #copyApiKey.circular.ui.icon.basic.button(role='button' aria-label='Click to copy' data-content='Click to copy' data-position='bottom center')
        i.copy.icon
  .ui.grid.container
    .first.row
      p NMT-Benchmark provides a simple API that lets you query existent translation systems, download test files, or upload translation output directly to the server.
      p All URIs below are relative to&nbsp;
        a(href=server) #{server}
    .header.row
      .one.wide.right.aligned.column= __('Method')
      .four.wide.column= __('Endpoint')
      .eleven.wide.column= __('Description')
    for entry in api
      .apiEntry.row
        .one.wide.right.aligned.column
          .ui.small.horizontal.label(class=entry.method == 'GET' ? 'teal' : 'brown') #{entry.method}
        .four.wide.column
          +url(entry)
        .eleven.wide.column.params
          p #{entry.description}
          if entry.fieldSet
            for option in entry.fieldSet
              +params(option)
          +example(entry)
    h1= __('Error codes')
    .row
      .three.wide.column
        .ui.label 401 - Unathorized
      .ten.wide.column
        p Provided API key doesn't exist in our database.
          if (user)
            | &nbsp;Your current API key is:
            code &nbsp;#{apiKey}.
          else
            | &nbsp;Log in to retrieve your API key.
        p API key is generated authomatically once you log in to the site with github account.
        p This error is also triggered when users try to modify translation systems created by other users.
    .last.row
      .three.wide.column
        .ui.label 500 - Server error
      .ten.wide.column
        p Internal server error or database error.

block scripts
  script(src='/javascripts/api.min.js')
