nav.ui.fixed.menu.navbar.fireBrick.grid
  
  a#logo.brand.item(href='/')
    img(height='76' width='76' src='/images/logo-nmt-benchmark.svg' alt='NMT-Benchmark')
  a#brandName.brand.item(href='/')= __('NMT-Benchmark')
  a.item(href='/info')= __('Info')
  a.item(href='/trainingSets')= __('Training Sets')
  a.item(href='/testSets')= __('Test Sets')
  a.item(href='/api')= __('API')

  .right.menu
    include userMenu
