extends layout

block content
  .ui.grid.container
    .first.row
      h1 Welcome to NMT&#8209;benchmark initiative!
    .row
      p The NMT&#8209;benchmark is a platform for sharing and comparing Neural Machine Translation system performance. The primary goal is to compare engines and training parameters for systems trained on provided reasonably small datasets (1M sentences to 5M sentences). Any system output can be shared as long as the "training recipe" is also provided and that the result can be reproduced. Considering the huge possible combinations of training parameters, any contribution is good to share. Systems are evaluated using reference testsets used by the research community and on "in&#8209;domain" test sets compared
    .row
      p NMT&#8209;benchmark is an initiative from <a href="http://www.opennmt.net">OpenNMT project</a>, but any other system is welcome to join and share results!

    .row
      .tableConfig.ui.form
        .fields
          .eight.wide.field
            label= __('Language pair')
            #languagePairs.ui.selection.dropdown
              input(type='hidden' name='lp')
              .text
              i.dropdown.icon
              .menu
          .eight.wide.field
            label= __('Test file')
            #testFile.ui.selection.dropdown
              input(type='hidden' name='testSet')
              .text
              i.dropdown.icon
              .menu
        if visitor
          #addSystemButton.ui.basic.fireBrick.button.indented(role='button' aria-label='Add new translation system' tabindex='0' style='align-self: center')
            i.icon.plus
            span= __('Add new translation system')

        //-
          .dropdown
            .label= __('Metric')
            #metrics.ui.selection.disabled.dropdown
              input(type='hidden' name='metric' value='BLEU')
              .text BLEU
              i.dropdown.icon
              .menu
                .item.active(data-value='BLEU') BLEU
                .item(data-value='NIST') NIST
                .item(data-value='RIBES') RIBES
    .last.row
      #mainTable
        table.ui.celled.striped.sortable.table
          thead
            tr
              th.user= __('User')
              th.systemName= __('System name')
              th.date= __('Added')
              th.scores= __('Score')

  form#addSystemForm(action='/translationSystem/add' method='POST')
    input(type='hidden' name='languagePair' value='enfr')

  form#viewTranslationSystem(action='/translationSystem/view' method='post')
    input(type='hidden' name='systemId' value='')

block append scripts
  script.
    var c2l = !{JSON.stringify(c2l).replace(/<\//g, '<\\/')}
    var defaultLP = "#{defaultLP}"
  script(src='/javascripts/utils.min.js')
  script(src='/javascripts/index.min.js')
  //- TODO - i18n
