extends layout

block content
  .ui.grid.container
    .first.row
      h1= __('Test Sets')
    .row
      .ui.form
        .inline.field
          label= __('Filter')
          #languagePairs.ui.selection.dropdown
            input(type='hidden' name='' value='')
            .text= __('Any language pair')
            i.dropdown.icon
            .menu
    .last.row
      table#testSetTable.ui.table
        thead
          tr
            th.languagePair= __('Language pair')
            th.domain= __('Domain')
            th.origin= __('Origin')
            th.fileName= __('File name')
            th.download

block scripts
  script.
    var defaultLP = "#{defaultLP}"
    var c2l = !{JSON.stringify(c2l).replace(/<\//g, '<\\/')}
  script(src='/javascripts/downloadData.min.js')
  script(src='/javascripts/testSets.min.js')
