extends layout

block content
  .testSetContainer.ui.form
    .inline.field
      label Filter
      #languagePairs.ui.selection.dropdown
        input(type='hidden' name='#{name}' value='#{defaultLP}')
        .text Any language pair
        i.dropdown.icon
        .menu
          .item.active(data-value="" value="") Any language pair
          for lp in languagePairs
            .item(data-value='#{lp.sourceLanguage}#{lp.targetLanguage}') #{c2l[lp.sourceLanguage]} - #{c2l[lp.targetLanguage]}
    table#testSetTable.ui.collapsing.table
      thead
        tr
          th.languagePair= __('Language pair')
          th.domain= __('Domain')
          th.fileName= __('File name')
          th.download

block scripts
  script.
    var languagePairs = !{JSON.stringify(languagePairs).replace(/<\//g, '<\\/')}
    var testSets = !{JSON.stringify(testSets).replace(/<\//g, '<\\/')}
    var c2l = !{JSON.stringify(c2l).replace(/<\//g, '<\\/')}
  script(src='/javascripts/testFiles.js')
  // TODO - i18n
