extends layout

block content
  .ui.grid.container
    .first.row
      h1= __('Training Sets')
    .last.row
      table#trainingSetTable.ui.table
        thead
          tr
            th.languagePair= __('Language pair')
            th.fileName= __('File name')
            th.download

block scripts
  script.
    var trainingSets = !{JSON.stringify(trainingSets).replace(/<\//g, '<\\/')}
    var c2l = !{JSON.stringify(c2l).replace(/<\//g, '<\\/')}
  script(src='/javascripts/utils.min.js')
  script(src='/javascripts/trainingSets.min.js')
