extends layout

block content
  .information
    h1= __('Training Sets')
    .trainingSetContainer.ui.form
      .inline.field
        label= __('Filter')
        #languagePairs.ui.selection.dropdown
          input(type='hidden' name='' value='')
          .text= __('Any language pair')
          i.dropdown.icon
          .menu
            .item.active(data-value="" value="")= __('Any language pair')
            for lp in languagePairs
              .item(data-value='#{lp.sourceLanguage}#{lp.targetLanguage}') #{c2l[lp.sourceLanguage]} - #{c2l[lp.targetLanguage]}
      table#trainingSetTable.ui.collapsing.table
        thead
          tr
            th.languagePair= __('Language pair')
            th.fileName= __('File name')
            th.size= __('Size')
            th.download

block scripts
  script.
    var testSets = !{JSON.stringify(testSets).replace(/<\//g, '<\\/')}
    var c2l = !{JSON.stringify(c2l).replace(/<\//g, '<\\/')}
  script(src='/javascripts/downloadData.js')
  script(src='/javascripts/trainingSets.js')
