extends layout

block content
  .ui.stackable.grid.container
    .first.row
      .eight.wide.column
        h1= __('Training Sets')
    .last.row
      .eight.wide.column
        table#trainingSetTable.ui.striped.table
          thead
            tr
              th.languagePair= __('Language pair')
              th.fileName= __('Filename')
              th.download
      .eight.wide.column
        .ui.fluid.info.card(style='display:none;')
          .content
            .center.aligned.header
            .center.aligned.description
          .extra.content
            .description

block append scripts
  script.
    var trainingSets = !{JSON.stringify(trainingSets).replace(/<\//g, '<\\/')}
    var c2l = !{JSON.stringify(c2l).replace(/<\//g, '<\\/')}
  script(src='/javascripts/utils.min.js')
  script(src='/javascripts/trainingSets.min.js')
