extends layout
include mixin.user.jade

block content
  if visitor && visitor.id == uData.githubId
    h1 These are your systems
  else
    h1 These are systems provided by
      +user(uData, 'external')

  if visitor && visitor.id == uData.githubId
    form#addSystemForm(action='/translationSystem/add' method='get')
      input(type='hidden' name='languagePair' val='enfr')
    .tableConfig
      #addSystemButton.ui.default.button.indented
        i.icon.plus
        span= __('Add new translation system')

    //-
      .dropdown
        .label= __('Metric')
        #metrics.ui.selection.disabled.dropdown
          input(type='hidden' name='metric' value='BLEU')
          .text BLEU
          i.dropdown.icon
          .menu
            .item.active(data-value='BLEU') BLEU
            .item(data-value='NIST') NIST
            .item(data-value='RIBES') RIBES

  table#mainTable.ui.celled.table
    thead
      tr
        th.systemName= __('System name')
        th.src= __('Source language')
        th.tgt= __('Target language')
        th.scores= __('Scores')

  form#viewTranslationSystem(action='/translationSystem/view' method='post')
    input(type='hidden' name='systemId' val='')

block scripts
  script.
    // var languagePairs = !{JSON.stringify(languagePairs).replace(/<\//g, '<\\/')} // remove
    var testSets = !{JSON.stringify(testSets).replace(/<\//g, '<\\/')}
    var toData = !{JSON.stringify(toData).replace(/<\//g, '<\\/')}
    var tsData = !{JSON.stringify(tsData).replace(/<\//g, '<\\/')}
    var c2l = !{JSON.stringify(c2l).replace(/<\//g, '<\\/')}
    var visitor = !{JSON.stringify(visitor).replace(/<\//g, '<\\/')}
    var uData = !{JSON.stringify(uData).replace(/<\//g, '<\\/')}
    // var author = #{author}
  script(src='/javascripts/userSystems.js')
