extends layout
include mixin.user.pug

block content
  .information
    if visitor && visitor.id === uData.githubId
      h1 These are your systems
    else
      h1 These are systems provided by
        +user(uData, 'external')

    if visitor && visitor.id === uData.githubId
      form#addSystemForm(action='/translationSystem/add' method='post')
        input(type='hidden' name='languagePair' val='enfr')
      .tableConfig
        #addSystemButton.ui.basic.fireBrick.button
          i.icon.plus
          span= __('Add new translation system')

    table#mainTable.ui.celled.table
      thead
        tr
          th.systemName= __('System name')
          th.date= __('Added')
          th.src= __('Source language')
          th.tgt= __('Target language')
          th.scores= __('Scores')

  form#viewTranslationSystem(action='/translationSystem/view' method='post')
    input(type='hidden' name='systemId' value='')

block scripts
  script.
    var tsData = !{JSON.stringify(tsData).replace(/<\//g, '<\\/')}
    var c2l = !{JSON.stringify(c2l).replace(/<\//g, '<\\/')}
  script(src='/javascripts/userSystems.min.js')
