if visitor
  .ui.dropdown.item
    img.ui.avatar.image(src="#{visitor._json.avatar_url}")
    span #{visitor.displayName}
    i.dropdown.icon
    .menu
      a.item(href='/userSystems/' + visitor.id)
        i.file.text.fireBrick.icon
        span= __('My Systems')
      //-
        a.item(href='/bugReport')
          i.bug.icon
          span= __('Report a bug')
      a.item(href='/logout')
        i.sign.out.fireBrick.icon
        span= __('Log out')
else
  .ui.item
    i.github.icon
    | <a href="/auth/github">Log in</a>&nbsp;with github
