if visitor
  #userMenu.ui.dropdown.item
    img.ui.avatar.image(src=visitor._json.avatar_url)
    span.userName #{visitor.displayName}
    i.dropdown.icon
    .menu
      a.item(href='/userSystems/' + visitor.id)
        i.file.text.fireBrick.icon
        span= __('My Systems')
      //-
        a.item(href='/bugReport')
          i.bug.icon
          span= __('Report a bug')
      a.item(href='/logout')
        i.sign.out.fireBrick.icon
        span= __('Log out')
else
  a.ui.item(href='/auth/github')
    i.github.icon
    span.loginPromt Log in
